@charset "UTF-8";

/* Typical Device Breakpoints 

    Pequenas Telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes Telas: acima de 1200px
*/


@media screen and (max-width: 767px) {

    body{
        height: 100vh;
        overflow: hidden;
    }

    header nav {
        height: 30vh;
        width: 33vw;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content:space-between;
        margin: 30px 240px 0px 240px;
        border-bottom: none;
        padding: 10px 5px;
    }

    header nav a {
        margin: 0px;
        width: 33vw;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(108, 120, 150, 0.151);
        padding: 0px 2px 10px 2px;
    }
    #seta {
        display: flex;
        font-size: 15px;
    }

    main {
        height: 100vh;
        width: 100%;     
    }
    

    #ifoto {   
        margin-top: 40px;
        height: 60vh;
        opacity: 55%;
    }

    #iinfo h1{
        top: 90px;
        left: 5%;
        font-weight: 700;
        font-size: 1.8em;
        width: 14ch;
    
    }

    #iinfo h2 {
        margin-bottom: 6px;
        padding: 10px;   
    }

    #iinfo a {
        margin-bottom: 20px;
    }

    section {  
        display: none;
    }
}


@media screen and (min-width: 767px) and (max-width: 992px) {

    #iinfo h1 {
        left: 25%;
        width: 14ch;
    }

    section {  
        width: 90vw;
        height: 60vh;
        padding: 10px;
        font-size: 1.2em;
        line-height: 1.2;
        top: 22%;
    }

    .words1 , .words2{
        max-width: 110px;
        height: 1.3em;
    }

    .words1 {
        margin-top: 10%;
        margin-left: 1%;
        text-align: right;
    }
    
    .words2 {
        margin-top: -2%;
        margin-left: 75%;
        text-align: left;
    }

}


@media screen and (min-width: 993px) and (max-width:1200px) {
    #iinfo h1 {
        left: 32%;
        width: 14ch;
    }

    section {  
        height: 80vh;
        font-size: 1.2em;
        line-height: 1.2;

    }

    .words1 , .words2{
        max-width: 110px;
        height: 1.3em;
    }

    .words1 {
        margin-top: 30%;
        margin-left: 0%;

    }
    
    .words2 {
        margin-top: -3%;
        margin-left: 80%;
 
    }
}
