@charset "UTF-8";

/*CONFIGURAÇÕES PAGINA 2*/

#sobre {
    font-weight: bolder;
    color: #d49751;   
}

main {
    /*border: 1px solid white;*/
    height: 90vh;
    width: 100vw;

    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


#isobre {
    /*border: 1px solid blue;*/
    padding: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    height: 90vh;
}

#ifotosobre {
    /*border: 1px solid white;*/
    height: 70vh;
    margin: 15px 30px 30px 30px;
    padding-left: 30px;
}

#itextosobre {
    /*border: 1px solid blue;*/
    margin: 0 150px;
    text-align: justify;
    
}