@charset "UTF-7";

#contato {
    font-weight: 700;
    color: #d49751;
}

main {
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 42%;
}

main div {
    transition: 1s;
}

main div:hover {
    color: #d49751;
}

p {
    margin-top: 3.5px;
}

a {
    color: inherit;
}

main .material-symbols-outlined {
    color: #d49751;
    /*border: 1px solid;*/
    position: absolute;
    right: 58.5%;
}
